@tailwind base;
@tailwind components;
@tailwind utilities;

.p-container {
    width: min(100%, 50rem);
    padding: 2rem 1rem;
    margin: 0 auto;
}

.link-bar {
    @apply absolute w-[3px] h-8 top-1/2 left-1/2 bg-stone-200 -z-10;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) {
    input[type="search"] {
        -webkit-appearance: none;
    }
}
